html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  max-width: 700px;
  min-height: 100vh;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
